@charset "utf-8";
/*	case
---------------------------------*/
$tokyo: #95be24;
$osaka: #ff9656;

//archive

#loop {
	width: 980px;
	margin: 250px auto 120px;
	box-sizing: border-box;
	padding: 0;

	@media screen and (max-width: $viewport) {
		width: 100%;
		padding: 0 3vw;
		margin: 24vw auto 15vw;
	}

	&.page_inner {
		margin: 0 auto;

		@media (max-width: $viewport) {
			margin: 0 auto;
		}
	}

	.box {
		padding: 30px 0 30px;
		border-bottom: 1px solid silver;

		@media (max-width: $viewport) {
			background-image: none;
			padding: 3vw 0 3vw;
			border-bottom: none;
		}

		&:first-of-type {
			padding-top: 0;
		}

		&:last-of-type {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}

		&:nth-of-type(even) {
			@media (max-width: $viewport) {
				background: #f2f2f2;
			}
		}

		.inner_wrap {
			@media (max-width: $viewport) {
				padding: 2vw 3vw;
			}
		}

		.label {
			display: inline-block;
			color: white;
			font-size: 14px;
			padding: 3px 16px 2px;
			line-height: 150%;
			margin-bottom: 10px;

			@media (max-width: $viewport) {
				font-size: 11px;
				margin-bottom: 1vw;
			}

			&.tokyo {
				background: #95be24;
			}

			&.osaka {
				background: #ff9656;
			}
		}

		.inner_box {
			overflow: hidden;
			margin-bottom: 20px;

			@media (max-width: $viewport) {
				margin-bottom: 1vw;
			}

			.data {
				width: 578px;
				float: left;

				@media (max-width: $viewport) {
					overflow: hidden;
					width: 100%;
					margin-bottom: 1vw;
				}

				.title {
					font-size: 21px;
					font-weight: bold;
					line-height: 150%;
					margin-bottom: 10px;

					@media (max-width: $viewport) {
						display: none;
					}
				}

				table.data_table {
					width: 100%;
					border-top: 1px solid #ccc;
					font-size: 14px;
					line-height: 150%;
					clear: both;

					tr {
						border-bottom: 1px solid #ccc;
					}

					th {
						text-align: left;
						width: 4em;
						padding: 10px;
						background: #e6e6e6;
					}

					td {
						padding: 10px;
						background: white;
					}
				}
			}

			> figure {
				width: 300px;
				float: right;

				@media (max-width: $viewport) {
					display: none;
				}
			}
		}

		.btns_case {
			display: flex;
			display: -ms-flex;
			justify-content: space-between;

			a {
				display: block;
				width: 450px;
				color: white;
				text-align: center;
				font-weight: bold;
				padding: 16px 20px 16px;
				box-sizing: border-box;
				font-size: 15px;
				//transition: all 0.3s;

				&:hover {
					opacity: 0.5;

					@media (max-width: $viewport) {
						opacity: 1;
					}
				}

				@media all and (-ms-high-contrast: none) {
					padding: 22px 20px 16px;
				}

				@media (max-width: $viewport) {
					width: 48%;
					padding: 2vw 2vw 2vw;
					font-size: 3.2vw;
				}

				&.n1 {
					background: #1d6ac5;
				}

				&.n2 {
					background: #d91412;
				}

				&::after {
					color: #c6d800;
					font-family: FontAwesome;
					content: "\f0da";
					float: right;
					position: relative;
					top: 3px;

					@media all and (-ms-high-contrast: none) {
						top: 2px;
					}
					
					@media (max-width: $viewport) {
						top: 1vw;
					}
				}
			}
		}
	}
}

//single
#case {
	width: 980px;
	margin: 250px auto 120px;

	@media screen and (max-width: $viewport) {
		width: 94%;
		margin: 24vw auto 15vw;
	}

	.ttl_case {
		display: block;
		margin-bottom: 20px;
	}

	.ttl_sec_case {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 20px;

		@media (max-width: $viewport) {
			font-size: 3.4vw;
		}
	}

	> .inner {
		border: 1px solid silver;
		padding: 30px;

		@media screen and (max-width: $viewport) {
			padding: 6vw;
		}

		> .primary {
			overflow: hidden;

			.style {
				display: block;
				background: #95be24;
				color: white;
				font-size: 18px;
				font-weight: bold;
				padding: 7px 20px 5px;

				@media (max-width: $viewport) {
					padding: 8px 20px 5px;
					font-size: 4vw;
				}

				@media all and (-ms-high-contrast: none){
					padding: 14px 20px 5px;
				}

				&.tokyo {
					background: $tokyo;
				}

				&.osaka {
					background: $osaka;
				}
			}

			.ttl_job {
				background: #4d4d4d;
				color: white;
				font-size: 25px;
				font-weight: bold;
				line-height: 150%;
				padding: 10px 20px;
				margin-bottom: 20px;

				@media all and (-ms-high-contrast: none){
					padding: 17px 20px 10px;
				}

				@media screen and (max-width: $viewport) {
					font-size: 5vw;
					margin-bottom: 0;
				}

			}

			.lead {
				color: #95be24;
				font-size: 16px;
				font-weight: bold;
				line-height: 150%;
				margin-bottom: 10px;

				&.tokyo {
					color: $tokyo;
				}

				&.osaka {
					color: $osaka;
				}
			}

			.data {

				&.narrow {
					width: 460px;
					float: left;

					@media screen and (max-width: $viewport) {
						width: 100%;
						float: none;
						margin-bottom: 5vw;
					}
				}
			}

			.img_case_main {
				width: 420px;
				float: right;

				@media screen and (max-width: $viewport) {
					display: none;
				}
			}

			.img_case_main_s {
				display: none;

				@media screen and (max-width: $viewport) {
					display: block;
					margin-bottom: 5vw;
				}
			}
		}//.primary

		#btn_requirements {
			//global style
			background: #1d6ac5;//#808080
			color: white;
			font-size: 16px;
			display: inline-block;
			padding: 9px 10px 11px 24px;
			opacity: 1;
			transition: all .7s;
			margin-bottom: 30px;

			> i {
				padding-left: 2em;
				color: #c6d800;
				font-size: 22px;
				position: relative;
				top: 2px;
			}

			&:hover {
				opacity: .5;
			}
		}

		.img_case_wide {
			margin-bottom: 20px;

			> img {
				width: 100%;
				height: auto;
			}
		}

		#pr {
			margin-bottom: 40px;

			@media screen and (max-width: $viewport) {
				margin-bottom: 10vw;
			}

			.box_block {
				overflow: hidden;
				margin-bottom: 30px;

				@media screen and (max-width: $viewport) {
					margin-bottom: 5vw;
				}

				.data {
					width: 100%;
					float: none;

					&.narrow {
						width: calc(100% - 250px);
						float: left;

						@media screen and (max-width: $viewport) {
							width: 100%;
							float: none;
						}
					}
				}

				> figure {
					width: 230px;
					float: right;

					@media screen and (max-width: $viewport) {
						width: 80%;
						margin: 0 auto;
						float: none;
						text-align: center;
					}
				}

				.ttl {
					color: #95be24;
					font-size: 18px;
					line-height: 150%;
					margin-bottom: 10px;

					&.tokyo {
						color: $tokyo;
					}

					&.osaka {
						color: $osaka;
					}
				}

				.text {
					line-height: 200%;

					@media screen and (max-width: $viewport) {
						margin-bottom: 5vw;
					}
				}
			}//.box_block
		}//#pr

		#gallery {
			margin-bottom: 40px;
			overflow: hidden;

			@media screen and (max-width: $viewport) {
				margin-bottom: 10vw;
			}

			figure {
				width: 32%;
				float: left;
				margin-right: 2%;
				margin-bottom: 20px;

				@media screen and (max-width: $viewport) {
					width: 100%;
					float: none;
					margin-right: 0;
				}

				&:nth-of-type(3n) {
					margin-right: 0;
				}

				figcaption {
					line-height: 200%;
				}
			}
		}//#gallery

		#requirements {
			margin-bottom: 40px;
			overflow: hidden;

			@media screen and (max-width: $viewport) {
				margin-bottom: 10vw;
			}

			table {
				width: 100%;
				line-height: 200%;
				margin-bottom: 30px;
				font-size: 14px !important;

				@media screen and (max-width: $viewport) {
					margin-bottom: 5vw;
					font-size: 3.4vw !important;
				}

				tr:nth-of-type(odd) {
					background: #e6e6e6;

					@media screen and (max-width: $viewport) {
						background: none;
					}
				}

				th {
					width: 124px;
					text-align: left;
					vertical-align: top;
					padding: 20px;
					white-space: nowrap;

					@media screen and (max-width: $viewport) {
						box-sizing: border-box;
						display: block;
						width: 100%;
						background: #e6e6e6;
						padding: 2vw;
					}
				}

				td {
					padding: 20px;

					@media screen and (max-width: $viewport) {
						box-sizing: border-box;
						display: block;
						padding: 2vw;
					}
				}
			}//table

			.acf-map {
				iframe {
					width: 100%;
					height: 220px;
				}
			}

			#mapurl {
				text-align: right;
				text-decoration: underline;
			}
		}//#requirements

		#btn_entry {
			display: block;
			background: #d91412;
			text-align: center;
			color: white;
			font-size: 16px;
			font-weight: bold;
			width: 270px;
			height: 46px;
			border-radius: 24px;
			box-sizing: border-box;
			display: flex;
			display: -ms-flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			transition: all .7s;
			position: relative;

			@media all and (-ms-high-contrast: none){
				padding: 21px 20px 15px;
			}

			&::after {
				color: #c6d800;
				font-family: FontAwesome;
				content: "\f0da";
				position: absolute;
				top: 15px;
				right: 10px;
			}

			&:hover {
				opacity: .5;
			}
		}

		.linktel_p {
			margin-top: 30px;
			font-size: 20px;
			text-align: center;

			@media (max-width: $viewport) {
				display: none;
			}

			.label {
				padding-right: 30px;

				&::after {
					font-family: FontAwesome;
					color: #ff5001;
					content: "\f0da";
					padding-left: 15px;
				}
			}

			.number {
				font-size: 32px;
				font-weight: bold;
			}
		}

		.linktel_s {
			margin-top: 30px;
			font-size: 16px;
			text-align: center;
			display: none;

			@media (max-width: $viewport) {
				display: block;
			}

			.label {
				padding-right: 3vw;

				&::after {
					font-family: FontAwesome;
					color: #ff5001;
					content: "\f0da";
					padding-left: 2vw;
				}
			}
		}
	}//.inner

	#historyback {
		margin: 30px auto;
		text-align: center;

		a {
			font-size: 16px;
			font-weight: bold;
			transition: all .7s;
			cursor: pointer;

			&::before {
				color: #c20a00;
				font-family: FontAwesome;
				content: "\f0d9";
				padding-right: 20px;
			}

			&:hover {
				opacity: .5;
			}
		}
	}//historyback
}
