@charset "utf-8";
//privacy-policy
.page_corporate {
	margin: 194px 0 120px;

	@media (max-width: $viewport) {
		margin: 15.6vw 0 15vw;
	}

	.image {
		@media (max-width: $viewport) {
			display: none;
		}

		&.block {
			display: block;;

			@media (max-width: $viewport) {
				display: none;
			}
		}
	}

	.image_s {
		display: none;

		@media (max-width: $viewport) {
			display: inline;
		}

		&.block {
			display: none;

			@media (max-width: $viewport) {
				display: block;
			}
		}
	}

	.inner_sec {
		width: 980px;
		margin: 0 auto;

		@media (max-width: $viewport) {
			width: 88vw;
		}

		.ttl_corporate {
			color: #ff5001;
			font-size: 27px;
			font-weight: bold;
			text-align: center;
			padding: 60px 0 60px;

			@media (max-width: $viewport) {
				font-size: 5.5vw;
				text-align: center;
				padding: 10vw 0 10vw;
			}
		}

		.ttl_sub {
			font-size: 16px;
			font-weight: bold;
			line-height: 1.5;

			@media (max-width: $viewport) {
				font-size: 3.8vw;
			}
		}

		.text {
			font-size: 14px;
			line-height: 1.8;
			margin: 0 0 30px;

			@media (max-width: $viewport) {
				font-size: 3.4vw;
				margin: 0 0 5vw;
			}
		}

		.info {
			font-size: 14px;
			line-height: 1.8;
			text-align: right;

			@media (max-width: $viewport) {
				font-size: 3.4vw;
			}
		}
	}
}
